---
const { tags } = Astro.props;
---

{
  tags && (
    <div class="gap-1 flex flex-row items-center flex-wrap">
      {tags.split(" ").map((tag) => (
        <a
          class="text-gray-500 text-2xs py-1 px-2 bg-gray-100 rounded"
          href={`/blog/tag/${tag}`}
        >
          {tag}
        </a>
      ))}
    </div>
  )
}
