---
layout: default
---

<!-- Overflow hidden -->
<div class="relative h-48 sm:h-96 overflow-hidden mb-4 -mt-8">
  <img
    class="absolute top-0 left-0 w-full w-full h-48 sm:h-96 object-cover"
    src="/img/{{ page.image }}.jpg"
    alt="{{ page.title }}"
  />
  <div
    class="absolute top-0 left-0 w-full h-48 md:h-96 bg-gradient-to-t from-white to-transparent"
  ></div>
</div>

<div class="max-w-screen-md mx-auto px-2 lg:px-0 z-10">
  <div>
    <a
      class="text-flickr-dark hover:text-flickr-light focus:text-flickr-default"
      href="/"
      >Back to blog</a
    >
  </div>
  <h1 class="my-8 text-4xl font-bold">{{ page.title }}</h1>
  <div class="my-2 flex flex-row items-center text-xs">
    <div class="mr-1 text-gray-500">{{ page.date | date_to_long_string }}</div>
    <div class="mr-1">/</div>
    <div class="text-gray-400">by {{ page.author }}</div>
  </div>
  {% if page.canonicalurl %}
  <div class="my-2 flex flex-row items-center text-xs">
    <a href="{{page.canonicalurl}}" rel="noreferrer" target="_blank"
      >First posted on {{page.canonicalsite}}</a
    >
  </div>
  {% endif %} {{ content }}

  <div class="mt-10">
    <a
      class="text-flickr-dark hover:text-flickr-light focus:text-flickr-default"
      href="/"
      >Back to blog</a
    >
  </div>
</div>
