---
layout: default
---

<div class="max-w-screen-md mx-auto px-2 lg:px-0">
  <div>
    <a
      class="text-flickr-dark hover:text-flickr-light focus:text-flickr-default"
      href="/"
      >🠔 Back</a
    >
  </div>
  <h1 class="my-8 text-4xl font-bold">{{ page.title }}</h1>
  <div class="my-2 flex flex-row items-center text-xs">
    <div class="mr-1 text-gray-500">{{ page.date | date_to_long_string }}</div>
    <div class="mr-1">/</div>
    <div class="text-gray-400">by {{ page.author }}</div>
  </div>
  {% if page.canonicalurl %}
  <div class="my-2 flex flex-row items-center text-xs">
    <a href="{{page.canonicalurl}}" rel="noreferrer" target="_blank"
      >First posted on {{page.canonicalsite}}</a
    >
  </div>
  {% endif %} {{ content }}

  <div class="mt-10">
    <a
      class="text-flickr-dark hover:text-flickr-light focus:text-flickr-default"
      href="/"
      >🠔 Back</a
    >
  </div>
</div>
